<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css" />
<%- include('../partials/nav') %>

<main>
  <div class="cards">
    <ul>
    <% profiles.forEach(profile => { %>
      <li >
        <div class="card">
          <a class="text-decoration-none" href="/profiles/<%= profile._id %>">
            <img class="picture"
            src="<%= profile.avatar %>" 
            alt="<%= profile.name %>'s avatar">
            <%= profile.name %> 
          </div>
        </a>
      </li>
    <% }) %>
    </ul>
  </div>
</main>

<%- include('../partials/footer') %>