<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css" />
<%- include('../partials/nav') %>

<main>
  <div class="card-container">
    <ul>
    <% profiles.forEach(profile => { %>
      <li class="card-title">
        <a class="text-decoration-none" href="/profiles/<%= profile._id %>">
            <%= profile.name %> <img class="picture"
            src="<%= profile.avatar %>" 
            alt="<%= profile.name %>'s avatar">
        </a>
      </li>
    <% }) %>
    </ul>
  </div>
</main>

<%- include('../partials/footer') %>