<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h2>Welcome to RecipeHub!
  </h2>
  <h1>Hello, <%= user ? user.profile.name : "Guest" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img class="icon"
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } else{ %>
    <img class="icon" src="https://icons.veryicon.com/png/o/miscellaneous/youyinzhibo/guest.png" alt="">
    <% } %> 
  <h3>View recipes posted by our users and even create your own. </h3>
  <div><img src="https://img.taste.com.au/uWD5nxHR/w643-h428-cfill-q90/taste/2017/07/quick-and-easy-meal-planner-128684-2.jpg"><img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F44%2F2019%2F08%2F26230716%2F6149755.jpg&w=400&h=400&c=sc&poi=face&q=60" alt=""></div>
</main>

<%- include('./partials/footer') %>
