<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/ingredients/index.css" />
<%- include('../partials/nav') %>
<h1> 🌶   <%= title %>  🧅</h1>
<ul>
  <% ingredients.forEach(ingredient=>{ %> 
    <li><form 
      action="/ingredients/<%= ingredient._id %>?_method=DELETE"
      method="POST">
      <%= ingredient.name %></a>  
      <% if (ingredient.owner.equals(user?.profile._id)) { %>
      <button type="submit">X</button>
      <% } %> 
      </form></li>
    <% }) %> 
</ul>
<%- include('../partials/footer') %>