<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>WORKS</h1>
<h2>All Recipes</h2>
<ul>
  <% recipes.forEach(recipe=>{ %> 
    <li> <form 
      action="/recipes/<%= recipe._id %>?_method=DELETE"
      method="POST">
      <%= recipe.owner %> 
      <a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a>     
      
      <button type="submit">X</button>
      </form>
     </li>
    <% }) %> 
</ul>


<%- include('../partials/footer') %>