<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<h1>Recipe Details - <a href="/recipes/<%= recipe.id %>/edit">Edit Recipe</a></h1>
<section>
  <div>Author: <a href="/profiles/<%= recipe.owner._id %>"><%= recipe.owner.name %> </a></div>
  <img 
      class="profile-avatar"
      src="<%= recipe.owner.avatar %>" 
    >
<div>Dish Name: <%= recipe.name %> </div>
<div>Difficulty Level: <%= recipe.difficulty %> </div>
<div>Time Needed: <%= recipe.time %> minutes </div>
<div>Tasty? <%= recipe.tasty ? "Certified Tasty" : "Not Very Tasty" %> </div>
<div>Cuisine Type: <%= recipe.cuisine %> </div>
<h3>Comments:</h3>

<h4> <form action="/recipes/<%= recipe._id %>/comments" method="POST">
  <input type="text" name="comment">
  <button type="submit">Add Comment</button>
</form></h4>
<h4>
  <% recipe.comments.forEach(function(comment) { %> 
      <li><%=comment.comment %> </li>
    <% }) %> 
</h4>
</section>
<%- include('../partials/footer') %>