<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/show.css" />
<%- include('../partials/nav') %>
<div class="recipe-details">
  <h1>Recipe Details: 
    <br>
    <% if (recipe.owner.equals(user?.profile._id)) { %>
    <a href="/recipes/<%= recipe.id %>/edit">Edit Recipe</a>
    <% } %> 
  </h1>
  <div class="r-details">Author: 
    <a href="/profiles/<%= recipe.owner._id %>"><%= recipe.owner.name %> </a>
  </div>

  <section class="details">
    <div class="r-details">Dish Name: <strong><%= recipe.name %></strong> </div>
    <div class="r-details">Difficulty Level: <strong> <%= recipe.difficulty %></strong> </div>
    <div class="r-details" >Time Needed: <strong><%= recipe.time %> minutes</strong>  </div>
    <div class="r-details">Tasty? <strong><%= recipe.tasty ? "Certified Tasty" : "Not Very Tasty" %> </strong></div>
    <div class="r-details">Cuisine Type: <strong><%= recipe.cuisine %> </strong></div>
    <div class="r-details">Ingredients Needed:</div>
    <ul>
      <% recipe.ingredients.forEach(ingredient => { %>
        <li class="lIng">
          <form 
          action="/recipes/<%= recipe._id %>/ingredients/<%= ingredient._id%>?_method=DELETE"
          method="POST">
          <%= ingredient.name %></a>     
          <% if (recipe.owner.equals(user?.profile._id)) { %>
          <button  class="addIng" type="submit">Delete</button>
          <% } %> 
        </form>
      </li>
      <% }) %>
    </ul> 
    <% if (recipe.owner.equals(user?.profile._id)) { %>
      <form id="add-ingredients" action="/recipes/<%= recipe._id %>/ingredients" method="POST">
        <select name="ingredientId">
          <% ingredients.forEach(ingredient => { %>
            <option value="<%= ingredient._id %>"><%= ingredient.name %>
            </option>
          <% }) %>
        </select>
        <button class="addIng" type="submit">Add ingredient to recipe</button>
      </form>
      <% } %> 
  </div>
  <div class="step-details">
    <h2>Steps:</h3>
      <% if (recipe.owner.equals(user?.profile._id)) { %>
        <form action="/recipes/<%= recipe._id %>/steps" method="POST">
          <textarea placeholder="Type steps in order" type="text" name="step">
          </textarea>
          <button class="addCom" type="submit">Add Step</button>
        </form>
      <% } %>
      <h3>
        <ol>
        <% recipe.steps.forEach(function(step) { %> 
            <li class= "steps"> <%= step.step %> </li>
            <%   %> 
          <% }) %> 
        </ol>
      </h3>
    </section>
</div>

<div class="comment">
<h3>Comments:</h3>
<h4> 
  <form action="/recipes/<%= recipe._id %>/comments" method="POST">
  <textarea type="text" name="comment">
  </textarea>
  <button class="addCom" type="submit">Add Comment</button>
  </form>
</h4>
<h4>
  <% recipe.comments.forEach(function(comment) { %> 
      <li class= "comments">
        <form action="/recipes/<%=recipe._id  %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
        <%=comment.comment %> - <%= recipe.owner.name  %>  
        <% if (recipe.owner.equals(user?.profile._id)) { %>
        <button type="submit" >X</button>
        <% } %>
        </form>
      </li>
    <% }) %> 
</h4>
</div>
<%- include('../partials/footer') %>